
@media screen and (min-width:992px) {
	body{
		font-family: 'Roboto', "微軟正黑體", sans-serif;
		font-size: 16px;

	}
}
@media screen and (max-width:991px) {
  	body{
		font-family: 'Roboto', "微軟正黑體", sans-serif;
		font-size: 20px;
		
	}	
}

section, footer{
	padding: 72px;
	padding-top: 48px;
	padding-bottom: 48px;
}

.jumbotron{
	margin-bottom: 0;
	background-image: url('../images/index.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center;
	height: 300px;
	line-height: 300px;
	border-radius: 0;
}

#search-section{
	border-radius: 4px;
}
#search-section button:hover{
	background-color: #363A3F;
	border-color: #363A3F;
}

#content-table th{
	border-top: none;
}
#content-table td{
	line-height: 2rem;
}