body{
	font-family: "微軟正黑體";
}

#loginPage{
	width: 100vw;
	height: 100vh;
	background-image: url('../images/index.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#loginBox{
	background-color: #FFF;
	border-radius: 4px;
}

